package ${package}.modules.${moduleName}.service.impl;

import ${package}.modules.${moduleName}.mapper.${className}Mapper;
import ${package}.modules.${moduleName}.entity.dos.${className};
import ${package}.modules.${moduleName}.service.${className}Service;
import org.springframework.stereotype.Service;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;

/**
 * ${comments}
 *
 * @author ${author} ${email}
 * @since ${version} ${date}
 */
@Service
public class ${className}ServiceImpl extends ServiceImpl<${className}Mapper, ${className}> implements ${className}Service{

}